/*******************************************************************************
 Derth Adams
 CS 406
 June 5, 2020

 File name:     style.css
 Description:   Style sheet for the Network View page
 ******************************************************************************/

/* The div that cytoscape uses as a container for the graph visualization*/
#graph {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 62px;
    left: 0;
    visibility: hidden;
}

/* The div used for the information panel in the upper-left
   corner of the graph */
#info-panel {
    opacity: .8;
    visibility: hidden;
}

/* Class used to hide and reveal the info panel */
.visible {
    visibility: visible;
}